body,html{width:100%; height:100%; padding:0; margin:0; overflow:hidden;}
body{font:12px Arial,Verdana,Tahoma,"宋体";}
*{padding:0px;margin:0px;}
* li{list-style:none;}
a{text-decoration:none;color:#20537A;}

#index-top{ height:60px; background:#152A49; color:#FFFFFF; background:url(../img/top_bg.jpg) top left repeat-x;}
#layout-index{width:100%; height:100%;}
#index-accordion{overflow:auto;}
#index-bottom{width:100%; height:100%; background:#3EA3F9;text-align:center;}
#index-bottom td{font-size:12px;text-align:center; text-align:-moz-center;padding:2px; color:#FFF;}
#index-treeMenu{margin-top:3px;}
.top_logo{
	background:url(../img/logo.png) no-repeat 30px 5px;
	width:300px; height:60px; 
	float:left;}
.top_sysname {
    margin-left: 10px;
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    font-weight: bold;
    width: 400px;
    display:inline;
    text-shadow: 2px 1px #000000;
}
.top_qbar{height:29px;line-height:29px;margin-right:10px}
.top_qbar li{ float:left;padding-left:18px;height:29px;font-size:12px;line-height:29px;list-style:none;color:#FFFFFF;margin-right:5px;}
.top_qbar li a{color:#FFFFFF;margin-right:4px;font-size:12px;}
.home{background: url(../img/home.gif) no-repeat  center left;}
.configure{background: url(../img/configure.png) no-repeat  center left;}
.help_topic{background: url(../img/help_topic.gif) no-repeat  center left;}
.help_view{background: url(../img/help_view.gif) no-repeat  center left;}
.goback{background: url(../img/goback.gif) no-repeat  center left;}

.menu_bar{
	background:url(../img/menu_bg.png) right top;
	width:100%;
	height:50px;
	}
#open_show {
	z-index:9999;
    cursor: pointer;
    width: 12px;
	height: 12px;
    margin: 12px 10px 0 0;
}
.open{background: url(../img/open.png) no-repeat}
.close{background: url(../img/close.png) no-repeat}

ul{ margin:0; padding:0; list-style:none;}
li{ margin:0; padding:0;}
.menu_navcc{width:100%;height:32px; margin:0 auto;}
.menu_nav{width:100%;height:32px;background:url(../img/nav_bg.gif) repeat-x;float:left;}
.menu_nav .nav_content{padding-left:250px;}
.menu_nav .nav_content li{height:36px;padding-left:12px;padding-right:12px;background:url(../img/nav_li_right.gif) no-repeat right center;float:left;line-height:36px;text-align:center;font-size:14px;font-weight:bold;}
.menu_nav .nav_content li a{color:#FFFFFF;height:34px;display:block;text-decoration:none;}
.menu_nav .nav_content li span.sty2{ float:left; display:block; padding-left:9px;padding-right:8px;}
.menu_nav .nav_content li span.sty1{ float:left; display:block; width:6px; height:34px;}
.menu_nav .nav_content li span.sty3{ float:left; display:block; width:8px; height:34px;}
.menu_nav .nav_content li.current{line-height:32px;}
.menu_nav .nav_content li.current a span.sty2,.menu_nav .nav_content li a:hover span.sty2{height:32px;background:url(../img/nav_li_current_1.gif) no-repeat center top;display:block;color:#FFFFFF;}
.menu_nav .nav_content li.current a span.sty1,.menu_nav .nav_content li a:hover span.sty1{background:url(../img/nav_li_current_1l.gif) no-repeat}
.menu_nav .nav_content li.current a span.sty3,.menu_nav .nav_content li a:hover span.sty3{background:url(../img/nav_li_current_1r.gif) no-repeat}
.menu_nav .nav_content li a:hover span.sty2{background:url(../img/nav_li_hover_1.gif) no-repeat center top;line-height:32px;text-decoration:none;}
.menu_nav .nav_content li a:hover span.sty1{ background:url(../img/nav_li_hover_1l.gif) no-repeat;}
.menu_nav .nav_content li a:hover span.sty3{ background:url(../img/nav_li_hover_1r.gif) no-repeat;}
.menu_nav_right{padding-right:20px;background:url(../img/nav_r_bg.gif) no-repeat right top;float:right;margin-left:50px;padding-top:13px;height:23px;padding-bottom:12px;}

