body,html{width:100%; height:100%; padding:0; margin:0; overflow:hidden;} 
#index-top{ height:60px; background:#152A49; color:#FFFFFF; margin-bottom:3px;}
#topmenu{width:100%; height:30px;}
#layout-index{width:100%; height:100%;}
#home{width:100%; height:100%;}
#index-bottom{width:100%; height:100%; background:url(../img/bottom.png) right top;text-align:center;}
#index-bottom td{font-size:12px;text-align:center; text-align:-moz-center;padding:2px;}
.top{
	height:60px;
	width:100%;
	background:url(../img/top-bg.jpg) top left repeat-x; 
	display:block;
	margin:0px auto;}
.top_logo{
	background:url(../img/logo.png) no-repeat 30px 5px;
	width:300px; height:60px; 
	float:left;}
.top_sysname {
    margin-left: 10px;
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    font-weight: bold;
    width: 400px;
    display:inline;
}
.top_qbar{height:29px;line-height:29px;margin-right:10px}
.top_qbar li{ float:left;padding-left:18px;height:29px;font-size:12px;line-height:29px;list-style:none;color:#0066cc;margin-right:5px;}
.top_qbar li a{color:#0066cc;margin-right:4px;font-size:12px;}
.home{background: url(../img/home.gif) no-repeat  center left;}
.configure{background: url(../img/configure.png) no-repeat  center left;}
.help_topic{background: url(../img/help_topic.gif) no-repeat  center left;}
.help_view{background: url(../img/help_view.gif) no-repeat  center left;}
.goback{background: url(../img/goback.gif) no-repeat  center left;}

#menu_bar{
	background:url(../img/menu_bg.png) right top;
	width:100%;
	height:29px;
}
#menu_bar a{
	font-family: Arial,sans-serif;
	font-size:12px; text-align:center; text-align:-moz-center;
}

#open_show {
    cursor: pointer;
    width: 12px;
	height: 12px;
    margin: 10px 10px 0 0;
}
.open{background: url(../img/open.png) no-repeat}
.close{background: url(../img/close.png) no-repeat}
